<p>
  <strong>User:</strong>
  <%= @membership.user.email %>
</p>

<p>
  <strong>Space:</strong>
  <%= @membership.space.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @membership.level %>
</p>


<!--  <strong>Start date:</strong>-->
  <%#= @membership.start_date %>
<!--  <strong>End date:</strong>-->
  <%#= @membership.end_date %>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
