<%= form_with(model: space) do |form| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
        <% space.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-flow-row auto-rows-max gap-3">

    <%= form.label :name %>
    <%= form.text_field :name, class: "w-full" %>

    <% if form.object.persisted? %>
      <%= form.label :slug %>
      <%= form.text_field :slug, class: "w-full" %>
    <% end %>

    <%= form.label :description %>
    <%= form.text_field :description, class: "w-full" %>

    <h3 class="text-2xl my-4">Current Members</h3>
    <div class="flex justify-between items-center">
      <input type="text" class="flex-grow ml-3 mr-2" placeholder="Search members..."/>
      <span data-testid="add-member-button" class="text-white bg-gold p-3 mr-3 rounded shadow">
        <%= link_to 'Add Member', new_membership_path, class: "text-white no-underline" %>
      </span>
    </div>
    <table class="table-auto border-collapse border mb-3 w-full">
      <thead>
      <tr>
        <th class="border p-2">Name</th>
        <th class="border p-2">Level</th>
        <th class="border p-2">Status</th>
        <!--        <th class="border p-2">Start Date</th>-->
        <!--        <th class="border p-2">End Date</th>-->
        <th class="border p-2"></th>
      </tr>
      </thead>

      <tbody>
      <% @space.memberships.each do |membership| %>
        <tr>
          <td class="p-2 border"><%= membership.user.email %> </td>
          <td class="p-2 border"><%= membership.level %> </td>
          <td class="p-2 border"><%= membership.aasm_state %> </td>
          <!--          <td class="p-2 border"><%#= membership.start_date %> </td>-->
          <!--          <td class="p-2 border"><%#= membership.end_date %> </td>-->
          <td class="p-2 border grid grid-cols-1 gap-2 text-center text-white">
            <span class="bg-red-600 p-2 rounded shadow"><%= link_to 'X', membership, method: :delete, data: {
              confirm: 'Are you sure?' }, class: 'text-white no-underline' %>
            </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= form.submit "Save", class: "p-2 bg-blue-500 text-white rounded shadow" %>
  </div>
<% end %>
