<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<% if @page.main_image.attached? %>
  <%= image_tag @page.main_image, width: 300, class: "shadow border" %> 
<% end  %>

<div class="py-3">
  <%= @page.content %>
</div>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
