<div class="flex justify-between items-center">
  <h1 class="text-3xl my-4">Listing Funds, Dude!</h1>
  <span class="text-white p-3 rounded shadow" style="background-color:#CFB87C;">
    <%= link_to 'New Fund', new_fund_path, class: "text-white no-underline" %>
  </span>
</div>

<table class="table-auto border-collapse border mb-3 w-full">
  <thead>
    <tr>
      <th class="border p-2">Title</th>
      <th class="border p-2">Description</th>
      <th class="border p-2">Allocation code</th>
      <th class="border p-2">Campus</th>
      <th class="border p-2">Updated At</th>
      <th class="border p-2">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td class="p-2 border"><%= link_to fund.title, fund, class: "text-blue-600 underline" %></td>
        <td class="p-2 border"><%= fund.description %></td>
        <td class="p-2 border"><%= fund.allocation_code %></td>
        <td class="p-2 border"><%= fund.campus %></td>
        <td class="p-2 border"><%= fund.updated_at %></td>
        <td class="p-2 border grid grid-cols-1 gap-2 text-center text-white">
          <span class="bg-blue-600 p-2 rounded shadow"><%= link_to 'Edit', edit_fund_path(fund), class: "text-white no-underline" %></span>
          <%# <span class="bg-red-600 p-2 rounded shadow"><%= link_to 'X', fund, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= raw pagy_nav(@pagy) %>