<!DOCTYPE html>
<html>
  <head>
    <title>Cadet In Training</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

 <body class="flex flex-col min-h-screen">
    <header class="p-2 flex flex-row justify-between items-center bg-black text-white">
      <div>
        <% if user_signed_in? %>
          <a href="/faqs" class="p-4 text-white no-underline text-base">FAQs</a>
          <a href="/funds" class="p-4 text-white no-underline text-base">Funds</a>
          <a href="/pages" class="p-4 text-white no-underline text-base">Pages</a>
          <a href="/spaces" class="p-4 text-white no-underline text-base">Spaces</a>
          <a href="/dashboard" class="p-4 text-white no-underline text-base">Dashboard</a>
        <% end %>
      </div>
      <div class="flex flex-row items-center">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path %>
          <%= button_to 'Log Out', destroy_user_session_path , method: :delete, class: "p-2 text-white
          rounded bg-gold", data: { testid: 'logout-button' } %>
        <% else %>
          <%# <%= button_to 'Login', '/auth/auth0', method: :post, class: "p-2 text-white rounded bg-gold" %>
          <span style="height: 30px;"></span>
        <% end %>
      </div>
    </header>
    <div class="flex-grow p-4">
      <%= render partial: "shared/flash"%>
      <%= yield %>
    </div>
    <footer class="p-4 bg-black">
      2021
    </footer>
  </body>
</html>
